<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Portfolio Page{% endblock title %}
{% block head %}
<link rel='stylesheet'
href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
<link rel="stylesheet" href="{% static 'css/research_style.css' %}">
<link rel="stylesheet" href="{% static 'css/research_home.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
<style>

  .card-img-top {
    width: 100px;
    height: 100px;
  }

  .card-img-top :hover {
    transform: scale(3.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .btn-group {
    justify-content : center;
  }
  .btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin:20px;
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
    
  }
  
  .btn-group button: {
    border-right: none; /* Prevent double borders */
    margin: 10px;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
    
  }
  .news-row{
     margin-left: 500px;
  }
</style>
{% endblock head %}
{% block content %}
    
  <div class="home-container">
    <div class="container-fluid main-cont">
      <div class="row news-row">
        <div class="btn-group">
          <a href="#current" style="color:white"><button>Current(Research Scholar)</button></a>
          <a href="#current_btp" style="color:white"><button >Current(BTP)</button></a>
          <a href="#interns" style="color:white"><button >INTERNS</button></a>
          <a href="#alumni_phd" style="color:white"><button >Alumni(PHD SCHOLAR)</button></a>
          <a href="#alumni_ms" style="color:white"><button >Alumni(MS SCHOLAR)</button></a>
          <a href="#alumni_btech" style="color:white"><button >Alumni(BTECH)</button></a>
        </div>
      </div>

      <div class="container-fluid col-md-12 col-sm-6 justify-content-center news-block" style="padding-left: 0px;padding-right: 0px">
        <h1 class="home-text07" style="color:black ; text-align:center;font-family:roboto">
          <span id="current">Current(Research Scholar)</span>
          <br />
        </h1>
        {%for current_research in current_research%}
        <div class="card-group">
          <div class="underlay">
            <div class="card">
              <div class="card-img-top" style="background-image: url('{{current_research.Image.url}}')"></div>
              <div class="card-block">
                <h5 class="card-title" style="font-family: 'Anton', sans-serif">{{current_research.Name}}
                  <hr>
                </h5>
                <div class="card-text">
                  <p> <b>PERIOD :</b>{{current_research.Period}}</p>
                  <p><b>AREA OF RESEARCH :</b>{{current_research.Area_of_research}}</p>
                  <p> <b>GOOGLE SCHOLAR :</b> <a href="{{current_research.google_scholar_link}}">
                      click here</a> </p>
                  <p> <b>LINKEDIN :</b><a href="{{current_research.linkedin_link}}"> click here</a></p>
                  <p> <b>MAIL :</b> <a href="{{current_research.mail}}" target="_blank">{{current_research.mail}}</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>


      <div class="container-fluid col-md-12 col-sm-6 justify-content-center news-block"  style="padding-left: 0px;padding-right: 0px">
          <h1 class="home-text07" style="color:black ; text-align:center;font-family:roboto" >
            <span id="current_btp">Current(BTP)</span>
            <br />
          </h1>
          {%for current_btp in current_btp%}
        <div class="card-group">
          <div class="underlay">
            <div class="card">
              <div class="card-img-top" style="background-image: url('{{current_btp.Image.url}}')"></div>
              <div class="card-block">
                <h5 class="card-title" style="font-family: 'Anton', sans-serif">{{current_btp.Name}}
                  <hr>
                </h5>
                <div class="card-text">
                  <p> <b>PERIOD :</b>{{current_btp.Period}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>


      <div class="container-fluid col-md-12 col-sm-6 justify-content-center news-block"  style="padding-left: 0px;padding-right: 0px">
        <h1 class="home-text07" style="color:black ; text-align:center;font-family:roboto">
          <span id="interns">INTERNS</span>
          <br />
        </h1>
        {%for interns in interns%}
        <div class="card-group">
          <div class="underlay">
            <div class="card">
              <div class="card-img-top" style="background-image: url('{{interns.Image.url}}')"></div>
              <div class="card-block">
                <h5 class="card-title" style="font-family: 'Anton', sans-serif">{{interns.Name}}
                  <hr>
                </h5>
                <div class="card-text">
                  <p> <b>PERIOD :</b>{{interns.Period}}</p>
                  <p> <b>EDUCATION :</b>{{interns.Education}}</p>
                  <p><b>AREA OF RESEARCH :</b>{{interns.Area_of_research}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>


      <div class="container-fluid col-md-12 col-sm-6 justify-content-center news-block"  style="padding-left: 0px;padding-right: 0px">
        <h1 class="home-text07" style="color:black ; text-align:center;font-family:roboto">
          <span id="alumni_phd">Alumni(PHD SCHOLAR)</span>
          <br />
        </h1>
        {%for alumni_phd in alumni_phd%}
        <div class="card-group">
          <div class="underlay">
            <div class="card">
              <div class="card-img-top" style="background-image: url('{{alumni_phd.Image.url}}')"></div>
              <div class="card-block">
                <h5 class="card-title" style="font-family: 'Anton', sans-serif">{{alumni_phd.Name}}
                  <hr>
                </h5>
                <div class="card-text">
                  <p> <b>PERIOD :</b>{{alumni_phd.Period}}</p>
                  <p><b>AREA OF RESEARCH :</b>{{alumni_phd.Area_of_research}}</p>
                  <p> <b>GOOGLE SCHOLAR :</b> <a href="{{alumni_phd.google_scholar_link}}">
                      click here</a> </p>
                  <p> <b>LINKEDIN :</b><a href="{{alumni_phd.linkedin_link}}"> click here</a></p>
                  <p> <b>MAIL :</b> <a href="{{alumni_phd.mail}}" target="_blank">{{alumni_phd.mail}}</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>


      <div class="container-fluid col-md-12 col-sm-6 justify-content-center news-block"  style="padding-left: 0px;padding-right: 0px">
        <h1 class="home-text07" style="color:black ; text-align:center;font-family:roboto">
          <span id="alumni_ms">Alumni(MS SCHOLAR)</span>
          <br />
        </h1>
        {%for alumni_ms in alumni_ms %}
        <div class="card-group">
          <div class="underlay">
            <div class="card">
              <div class="card-img-top" style="background-image: url('{{alumni_ms.Image.url}}')"></div>
              <div class="card-block">
                <h5 class="card-title" style="font-family: 'Anton', sans-serif">{{alumni_ms.Name}}
                  <hr>
                </h5>
                <div class="card-text">
                  <p> <b>PERIOD :</b>{{alumni_ms.Period}}</p>
                  <p><b>AREA OF RESEARCH :</b>{{alumni_ms.Area_of_research}}</p>
                  <p> <b>GOOGLE SCHOLAR :</b> <a href="{{alumni_ms.google_scholar_link}}">
                      click here</a> </p>
                  <p> <b>LINKEDIN :</b><a href="{{alumni_ms.linkedin_link}}"> click here</a></p>
                  <p> <b>MAIL :</b> <a href="{{alumni_ms.mail}}" target="_blank">{{alumni_ms.mail}}</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>


      <div class="container-fluid col-md-12 col-sm-6 justify-content-center news-block"  style="padding-left: 0px;padding-right: 0px">
        <h1 class="home-text07" style="color:black ; text-align:center;font-family:roboto">
          <span id="alumni_btech">Alumni(BTECH)</span>
          <br />
        </h1>
        {%for alumni_btech in alumni_btech%}
        <div class="card-group">
          <div class="underlay">
            <div class="card">
              <div class="card-img-top" style="background-image: url('{{alumni_btech.Image.url}}')"></div>
              <div class="card-block">
                <h5 class="card-title" style="font-family: 'Anton', sans-serif">{{alumni_btech.Name}}
                  <hr>
                </h5>
                <div class="card-text">
                  <p> <b>PERIOD :</b>{{alumni_btech.Period}}</p>
                  <p> <b>POSITION :</b>{{alumni_btech.Position}}</p>
                  <p> <b>COMPANY :</b>{{alumni_btech.Company}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>

       
    </div>
  </div>
    {% endblock content %}
    {% block scripts %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src="{% static 'js/research_script.js' %}"></script>
  <script src="jquery-3.1.1.min.js"></script>
  {% endblock scripts %}