<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Portfolio Page{% endblock title %}
{% block head %}
{% endblock head %}
{% block content %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" />
    <div>
      <div class="home-container">
        
        <div class="home-section-separator"></div>
        <div class="home-container2">
          <div class="home-hero">
            <div class="home-hero-text-container">
              <h1 class="home-heading1">
                <span class="home-text Section-Heading">Hi! Everyone</span>
                <br />
                <span>I am Dr. Puneet Gupta</span>
                <br />
              </h1>
              <span class="home-text04 Section-Text">
                I have been working as a professor in IIT 
              </span>
              <div class="home-cta-btn-container">
                <a href="/mywork/" class="home-cta-btn Anchor button">
                  <span class="home-text05">MY WORK </span>
                </a>
                <a href="/aboutme/" class="home-cta-btn1 button Anchor">
                  ABOUT ME
                </a>
              </div>
            </div>
            <img
              alt="image"
              src="{% static 'public/playground_assets/images__1_-removebg-preview-400w.png' %}"
              class="home-image1"
            />
          </div>
        </div>
        <div class="home-testimonial">
          <div class="home-container3">
            <h1 class="home-text07">
              <span>What Ex-Students Are Saying?</span>
              <br />
            </h1>
            <div class="home-container4">
              <div
                class="testimonial-card1-testimonial-card testimonial-card1-root-class-name2"
              >
                <svg
                  viewBox="0 0 950.8571428571428 1024"
                  class="testimonial-card1-icon"
                >
                  <path
                    d="M438.857 182.857v402.286c0 161.143-131.429 292.571-292.571 292.571h-36.571c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h36.571c80.571 0 146.286-65.714 146.286-146.286v-18.286c0-30.286-24.571-54.857-54.857-54.857h-128c-60.571 0-109.714-49.143-109.714-109.714v-219.429c0-60.571 49.143-109.714 109.714-109.714h219.429c60.571 0 109.714 49.143 109.714 109.714zM950.857 182.857v402.286c0 161.143-131.429 292.571-292.571 292.571h-36.571c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h36.571c80.571 0 146.286-65.714 146.286-146.286v-18.286c0-30.286-24.571-54.857-54.857-54.857h-128c-60.571 0-109.714-49.143-109.714-109.714v-219.429c0-60.571 49.143-109.714 109.714-109.714h219.429c60.571 0 109.714 49.143 109.714 109.714z"
                  ></path>
                </svg>
                <div class="testimonial-card1-testimonial">
                  <span class="testimonial-card1-text">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In lorem lorem, malesuada in metus vitae, scelerisque
                      accumsan ipsum. Nam pellentesque nulla leo, sagittis
                      vehicula sem commodo nec.
                    </span>
                  </span>
                  <span class="testimonial-card1-text1">
                    <span>Jane Doe</span>
                  </span>
                  <span class="testimonial-card1-text2">
                    <span>SOFTWARE ENGINEER</span>
                  </span>
                  <img
                    alt="profile"
                    src="{% static 'images/avatar-1.jpg'%}"
                    class="testimonial-card1-image"
                  />
                </div>
              </div>
              <div
                class="testimonial-card1-testimonial-card testimonial-card1-root-class-name"
              >
                <svg
                  viewBox="0 0 950.8571428571428 1024"
                  class="testimonial-card1-icon"
                >
                  <path
                    d="M438.857 182.857v402.286c0 161.143-131.429 292.571-292.571 292.571h-36.571c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h36.571c80.571 0 146.286-65.714 146.286-146.286v-18.286c0-30.286-24.571-54.857-54.857-54.857h-128c-60.571 0-109.714-49.143-109.714-109.714v-219.429c0-60.571 49.143-109.714 109.714-109.714h219.429c60.571 0 109.714 49.143 109.714 109.714zM950.857 182.857v402.286c0 161.143-131.429 292.571-292.571 292.571h-36.571c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h36.571c80.571 0 146.286-65.714 146.286-146.286v-18.286c0-30.286-24.571-54.857-54.857-54.857h-128c-60.571 0-109.714-49.143-109.714-109.714v-219.429c0-60.571 49.143-109.714 109.714-109.714h219.429c60.571 0 109.714 49.143 109.714 109.714z"
                  ></path>
                </svg>
                <div class="testimonial-card1-testimonial">
                  <span class="testimonial-card1-text">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In lorem lorem, malesuada in metus vitae, scelerisque
                      accumsan ipsum. Nam pellentesque nulla leo, sagittis
                      vehicula sem commodo nec.
                    </span>
                  </span>
                  <span class="testimonial-card1-text1">
                    <span>Jane Doe</span>
                  </span>
                  <span class="testimonial-card1-text2">
                    <span>SOFTWARE ENGINEER</span>
                  </span>
                  <img
                    alt="profile"
                    src="{% static 'images/avatar-2.jpg' %}"
                    class="testimonial-card1-image"
                  />
                </div>
              </div>
              <div
                class="testimonial-card1-testimonial-card testimonial-card1-root-class-name1"
              >
                <svg
                  viewBox="0 0 950.8571428571428 1024"
                  class="testimonial-card1-icon"
                >
                  <path
                    d="M438.857 182.857v402.286c0 161.143-131.429 292.571-292.571 292.571h-36.571c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h36.571c80.571 0 146.286-65.714 146.286-146.286v-18.286c0-30.286-24.571-54.857-54.857-54.857h-128c-60.571 0-109.714-49.143-109.714-109.714v-219.429c0-60.571 49.143-109.714 109.714-109.714h219.429c60.571 0 109.714 49.143 109.714 109.714zM950.857 182.857v402.286c0 161.143-131.429 292.571-292.571 292.571h-36.571c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h36.571c80.571 0 146.286-65.714 146.286-146.286v-18.286c0-30.286-24.571-54.857-54.857-54.857h-128c-60.571 0-109.714-49.143-109.714-109.714v-219.429c0-60.571 49.143-109.714 109.714-109.714h219.429c60.571 0 109.714 49.143 109.714 109.714z"
                  ></path>
                </svg>
                <div class="testimonial-card1-testimonial">
                  <span class="testimonial-card1-text">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In lorem lorem, malesuada in metus vitae, scelerisque
                      accumsan ipsum. Nam pellentesque nulla leo, sagittis
                      vehicula sem commodo nec.
                    </span>
                  </span>
                  <span class="testimonial-card1-text1">
                    <span>Jane Doe</span>
                  </span>
                  <span class="testimonial-card1-text2">
                    <span>SOFTWARE ENGINEER</span>
                  </span>
                  <img
                    alt="profile"
                    src="{% static 'images/avatar-3.jpg' %}"
                    class="testimonial-card1-image"
                  />
                </div>
              </div>
            </div>
            <span class="home-text10">
              <span class="home-text11">
                Fill this form for sunmitting your own testimonials.
              </span>
              <br class="home-text12" />
              <span class="home-text13">
                (remember that the decision to include it will be in the hands
                of admin
              </span>
              <span>)</span>
              <br />
            </span>
          </div>
        </div>
        <!-- <div class="home-section-separator3"></div> -->
        <div class="home-subscribe">
          <img
            alt="image"
            src="{% static 'public/playground_assets/puneet%20gupta-1500w.png' %}"
            class="home-image2"
          />
          <div class="home-container5">
            <div class="home-heading-container">
              <h1 class="home-text16">
                <span class="home-text17 Section-Heading">NEWSLETTER</span>
                <br />
                <span>SIGN UP NOW</span>
                <br />
              </h1>
              <span class="Section-Text home-text21">
                We will send you our monthly updates on your email. We will not
                share your email address or use it for promotional goals.
              </span>
            </div>
            <input
              type="text"
              required="true"
              placeholder="E-mail"
              class="home-textinput Section-Text input"
            />
            <button class="home-button Anchor button">SEND</button>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
    {% block scripts %}
    
    {% endblock scripts %}
