<div>
  <link href="./blog-post-card21.css" rel="stylesheet" />
  <div class="blog-post-card21-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&ixlib=rb-1.2.1&w=1500"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="blog-post-card21-image"
    />
    <div class="blog-post-card21-container">
      <h1 class="blog-post-card21-text"><span>Name</span></h1>
      <span class="blog-post-card21-text1"><span>Introduction</span></span>
      <span class="blog-post-card21-text2">
        <span>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima
          libero, suscipit, molestias ducimus nostrum id quasi aliquam aut quam,
          ipsum atque earum dolore alias voluptas eveniet reiciendis? Illum,
          nesciunt alias.
        </span>
      </span>
      <span class="blog-post-card21-text3"><span>Education</span></span>
      <span class="blog-post-card21-text4">
        <span>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima
          libero, suscipit, molestias ducimus nostrum id quasi aliquam aut quam,
          ipsum atque earum dolore alias voluptas eveniet reiciendis? Illum,
          nesciunt alias.
        </span>
      </span>
      <span class="blog-post-card21-text5">
        <span>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima
          libero, suscipit, molestias ducimus nostrum id quasi aliquam aut quam,
          ipsum atque earum dolore alias voluptas eveniet reiciendis? Illum,
          nesciunt alias.
        </span>
      </span>
      <span class="blog-post-card21-text6"><span>Achievements</span></span>
      <div class="blog-post-card21-container1">
        <div class="blog-post-card21-profile">
          <img
            alt="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima libero, suscipit, molestias ducimus nostrum id quasi aliquam aut quam, ipsum atque earum dolore alias voluptas eveniet reiciendis? Illum, nesciunt alias."
            src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&ixlib=rb-1.2.1&w=200"
            class="blog-post-card21-image1"
          />
          <span class="blog-post-card21-text7"><span>Jane Doe</span></span>
        </div>
        <span class="blog-post-card21-text8">Read More -&gt;</span>
      </div>
    </div>
  </div>
</div>
