.blog-post-card3-blog-post-card {
  width: 100%;
  display: flex;
  max-width: 1400px;
  flex-direction: row;
  justify-content: center;
}
.blog-post-card3-image {
  width: 500px;
  object-fit: cover;
}
.blog-post-card3-container {
  flex: 1;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card3-text {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.blog-post-card3-text1 {
  margin-bottom: 48px;
}
.blog-post-card3-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card3-text2 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
.blog-post-card3-text3 {
  color: var(--dl-color-gray-black);
  font-weight: 500;
}
.blog-post-card3-text4 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
}












@media(max-width: 991px) {
  .blog-post-card3-image {
    width: 50%;
  }
  .blog-post-card3-root-class-name1 {
    margin-top: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .blog-post-card3-blog-post-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .blog-post-card3-image {
    width: 100%;
  }
  .blog-post-card3-container {
    width: 100%;
  }
  .blog-post-card3-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .blog-post-card3-text1 {
    margin-bottom: 32px;
  }
  .blog-post-card3-container1 {
    margin-bottom: 32px;
  }
}
@media(max-width: 479px) {
  .blog-post-card3-text3 {
    width: auto;
  }
}

.my-work-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.my-work-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.my-work-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.my-work-navlink {
  display: contents;
}
.my-work-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  text-decoration: none;
}
.my-work-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.my-work-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.my-work-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.my-work-link02 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.my-work-link03 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.my-work-link04 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.my-work-link05 {
  text-decoration: none;
}
.my-work-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.my-work-icon {
  width: 36px;
  height: 36px;
}
.my-work-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.my-work-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.my-work-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.my-work-icon02 {
  width: 24px;
  height: 24px;
}
.my-work-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.my-work-link06 {
  margin-bottom: var(--dl-space-space-unit);
}
.my-work-link07 {
  margin-bottom: var(--dl-space-space-unit);
}
.my-work-link08 {
  margin-bottom: var(--dl-space-space-unit);
}
.my-work-section-separator {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.my-work-container02 {
  width: 100%;
  height: 428px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.my-work-hero {
  width: 100%;
  height: 247px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
.my-work-stats {
  width: 100%;
  display: grid;
  padding: 48px;
  grid-gap: 32px;
  max-width: 1400px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.my-work-stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.my-work-text {
  color: #FF7C4C;
  font-size: 3rem;
}
.my-work-text03 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-work-stat1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.my-work-heading1 {
  color: #FF7C4C;
  font-size: 3rem;
}
.my-work-text07 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-work-stat2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.my-work-text08 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.my-work-text11 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-work-stat3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.my-work-text12 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.my-work-text13 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-work-banner {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: 500 (Gray);
}
.my-work-text18 {
  font-size: 3rem;
  text-align: center;
}
.my-work-blog {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-container03 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-container04 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-btn-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.my-work-banner1 {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-800);
}
.my-work-text19 {
  font-size: 3rem;
  text-align: center;
}
.my-work-blog1 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-container05 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-container06 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-btn-group1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.my-work-banner2 {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-500);
}
.my-work-text20 {
  font-size: 3rem;
  text-align: center;
}
.my-work-blog2 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-container07 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-container08 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-btn-group2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.my-work-banner3 {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #cccccc;
}
.my-work-text21 {
  font-size: 3rem;
  text-align: center;
}
.my-work-blog3 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-container09 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-video {
  width: 964px;
  height: 522px;
}
.my-work-container10 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-video1 {
  width: 964px;
  height: 522px;
}
.my-work-video2 {
  width: 964px;
  height: 522px;
}
.my-work-btn-group3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.my-work-section-separator1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.my-work-banner4 {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-500);
}
.my-work-text22 {
  font-size: 3rem;
  text-align: center;
}
.my-work-blog4 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-container11 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-container12 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.my-work-btn-group4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.my-work-section-separator2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.my-work-banner5 {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-danger-700);
}
.my-work-text23 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 32px;
}
.my-work-text25 {
  font-weight: 600;
}
.my-work-button {
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.my-work-button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.my-work-section-separator3 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.my-work-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.my-work-social-bar {
  width: 100%;
  display: flex;
  padding: 48px;
  justify-content: center;
  background-color: lightgray;
}
.my-work-link10 {
  display: contents;
}
.my-work-image1 {
  width: 16px;
  height: 16px;
  object-fit: cover;
  text-decoration: none;
}
.my-work-icon04 {
  width: 16px;
  height: 16px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: 32px;
}
.my-work-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.my-work-icon08 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.my-work-icon10 {
  width: 16px;
  height: 16px;
  margin-right: var(--dl-space-space-fourunits);
}
.my-work-icon12 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.my-work-icon14 {
  width: 16px;
  height: 16px;
}
.my-work-section-separator4 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.my-work-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.my-work-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.my-work-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.my-work-icon16 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 991px) {
  .my-work-heading {
    text-align: center;
  }
  .my-work-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .my-work-text {
    text-align: center;
  }
  .my-work-heading1 {
    text-align: center;
  }
  .my-work-text08 {
    text-align: center;
  }
  .my-work-text12 {
    text-align: center;
  }
  .my-work-text23 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .my-work-navbar {
    position: relative;
  }
  .my-work-links-container {
    display: none;
  }
  .my-work-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .my-work-icon {
    fill: var(--dl-color-gray-white);
  }
  .my-work-container02 {
    height: 513px;
  }
  .my-work-hero {
    height: 876px;
  }
  .my-work-stats {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: 32px;
    padding-right: 32px;
    grid-template-columns: 1fr 1fr;
  }
  .my-work-text03 {
    text-align: center;
  }
  .my-work-text04 {
    text-align: center;
  }
  .my-work-text07 {
    text-align: center;
  }
  .my-work-text11 {
    text-align: center;
  }
  .my-work-text13 {
    text-align: center;
  }
  .my-work-text14 {
    text-align: center;
  }
  .my-work-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .my-work-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .my-work-banner1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .my-work-blog1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .my-work-banner2 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .my-work-blog2 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .my-work-banner3 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .my-work-blog3 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .my-work-video {
    width: 767px;
    height: fit-content;
  }
  .my-work-banner4 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .my-work-blog4 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .my-work-banner5 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .my-work-social-bar {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .my-work-image1 {
    width: 16px;
    height: 16px;
    margin-right: var(--dl-space-space-tenunits);
  }
}
@media(max-width: 479px) {
  .my-work-image {
    width: 50px;
    height: 50px;
  }
  .my-work-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .my-work-container02 {
    height: 787px;
  }
  .my-work-stats {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
    grid-template-columns: 1fr;
  }
  .my-work-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .my-work-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .my-work-btn-group {
    flex-direction: column;
  }
  .my-work-banner1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .my-work-blog1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .my-work-btn-group1 {
    flex-direction: column;
  }
  .my-work-banner2 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .my-work-blog2 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .my-work-btn-group2 {
    flex-direction: column;
  }
  .my-work-banner3 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .my-work-blog3 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .my-work-btn-group3 {
    flex-direction: column;
  }
  .my-work-banner4 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .my-work-blog4 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .my-work-btn-group4 {
    flex-direction: column;
  }
  .my-work-banner5 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .my-work-social-bar {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
