<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}About Me - Portfolio Page{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %}">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/error.css' %}" />
{% endblock head %}
{% block content %}
<section>
	<div class="vertical-center">
		<div class="container">
			<div id="notfound" class="text-center ">
				<h1 style="text-align:center">😮</h1>
				<h2>Oops! Page Not Be Found</h2>
				<p>P.S. This Page is still been developed.</p>
				<a href="/index/">Back to homepage</a>
			</div>
		</div>
	</div>
</section>
    {% endblock content %}

