<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}Student Portal - Portfolio Page{% endblock title %}
{% block head %}
{% endblock head %}
{% block content %}

    <div>
      
      <link href="{% static 'css/student-portal.css' %}" rel="stylesheet" />
      <div class="student-portal-container">
        <div class="student-portal-section-separator"></div>
        <div class="student-portal-hero">
          <h1 class="student-portal-text">Welcome To The Student Portal</h1>
          <span class="student-portal-text1">
            <span>
              Here you will have options to submit your assignments download
              lecture notes and previous year&nbsp;
            </span>
            <br />
            <span>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;question
              papers for reference.
            </span>
            <br />
          </span>
          <div class="student-portal-btn-group">
            <button class="student-portal-button button">Login</button>
            <button class="student-portal-button1 button">RegisTER</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
{% block scripts %}{% endblock scripts %}